<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="httpx"  receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true" />
          <textMessageEncoding />
          <httpTransport />
          
        </binding>
      </customBinding>
              
    </bindings>
    <services>

      <service behaviorConfiguration="aaa" name="AuthService.TokenService">
        <endpoint address="" binding="wsHttpBinding"
          contract="AuthService.ITokenService" />
      </service>
      <service behaviorConfiguration="aaa" name="AuthService.LogicService">
        <endpoint address="" binding="customBinding" bindingConfiguration="httpx"
          contract="AuthService.ILogicService" />
      </service>
      
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="aa" />
      </webHttpEndpoint>
    </standardEndpoints>
    <!--<protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="aaa">
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="true"
            serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="BussService.UsernameValidator, BussService" />
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
